/*body alani tanımlamalar ve ilk arkaplan verme*/

body{
    --color-primary:rgba(40,100,100,0.1);
    --color-primary-dark: rgb(10,80,0.5);
    --color-seconday: rgb(60,60,190);
    --color-error: rgb(210,40,40);
    --color-success: rgba(90,150,40,0.7);
    --border-radius: 4px;

    background: linear-gradient(to right, var(--color-primary), 
    var(--color-primary-dark)), url(back1.webp);
    background-attachment: fixed;
    background-repeat: cover;
    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
    


}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 35%;
    border-radius: 50%;
    border: solid;

}
  


/* Taşıyıcı Alanı*/


.container{
    width: 350px;
    height: 4200px;
    max-height: 500px;
    background-color: white;
    opacity: 0.8;
    box-shadow: 0 0 40px rgba(0,0,0,0.6);
    border-radius: var(--border-radius);
    padding: 2rem;
    margin: 1rem;
    
}

/* Form alanı */
.form__title{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--error{
    color: var(--color-error);
    
}

.form__input--group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    outline: none;
    background-color: #eee;
    transition: background 0.3s, border-color 0.3s;

}

.form__input:focus{
    border-color: var(--color-primary);
    background-color: #fff;
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--color-primary-dark);

}

.form__button:hover{
    background-color: var(--color-primary-dark);

}

.form__button:active{
    transform: scale(0.98);
}
.form__text{
    text-align: center;
}

.form__link{
    color: var(--color-seconday);
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover{
    text-decoration: underline;
}
.container, .form__input, .form__button{
    font: 500 1rem 'Roboto Slab', serif;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}
